@charset "utf-8" ;

@font-face{
    font-family: fonte;
    src: url(fonte/Super\ Positive\ Personal\ Use.ttf);

}

:root{
    --cor-primaria: #260202;
    --cor-secundaria: #A60505;
    --cor-background:#A6918D;
    --cor-azul-primaria: #011C40;
    --cor-azul-secundaria: #347EBF;
    --cor-azul-background:#91D7F2;

}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    background-color:var(--cor-azul-background);
    min-height: 100vh;
    overflow-x: hidden;
}

/* cabeçalho */
header {
    margin: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 2em;
    pointer-events: none;
    margin-right: 27px;
}

.logo img {
    height: 6em;
    width: 6em;
}

.navigation a {
    font-size: 1.5em;
    font-family: fonte;
    text-decoration: none;
    color: #ffffff;
    padding: 6px 20px;
    margin: 0 10px;
    font-weight: 600;
    border-radius: 20px;
    transition: 0.8s ease;
}

.navigation a:hover,
.navigation a.active {
    background: var(--cor-primaria);
    color: white;
}
/* FINAL cabeçalho */

/*parallax */
h1, h2 {
    font-family: fonte;
    font-weight: 900;/* negrito tensidade */
    color: #ffffff;
    text-shadow: 2px 3px 5px #000000;

}

.wrapper {
    width: 100%;
    margin: 0 auto;

}

main{
    display: block;
    background-color: var(--cor-primaria) ;
}

.container2{
    width: 100%;
    max-width: 760px; /* largura máxima */
    margin: 0 auto; /* auterar a margem */
    padding: 0 15px;
    animation: surgir 5s ;
    animation-timeline: view(); /*  aparecer de acordo com a rolagem */
    animation-range: cover 0 cover 60%; /* animar ultima parte */
}

section.modulo p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.3em;
}

section.modulo h2{ /* titulo */
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

section.modulo.content{
    padding: 40px 0;
    background: linear-gradient(0deg, #91D7F2 21%, #347EBF 40%, #011C40 86%);

}

section.modulo.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%; /* posição da imagem */
    background-repeat: no-repeat; /* n repetir imagem */
    background-size: cover; /* covrir container */
    background-attachment: fixed; /* fixar imagem no fundo */

}

section.modulo.parallax h1{
    color:#ffffffd0 ;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    z-index: 50; /* profundidade do plano */

}

section.modulo.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    z-index: 8; /* sensação de profundidade */
    position: absolute;
    background: linear-gradient(0deg, #011C40 24%, #91d7f25f 77%); /* degrade da imagem */
    
}

section.modulo.parallax-1{
    background-image: url(img/AdobeStock_322142069.jpeg);
}

section .javascript{
    text-align: center;

}

/* section.modulo.parallax-2{
    background-image: url(https://as2.ftcdn.net/v2/jpg/06/22/90/15/1000_F_622901528_mjw8Qvm4bu1bJKVYMhePgIsi6lS1ju8D.jpg);
}

section.modulo.parallax-3{
    background-image: url(https://as1.ftcdn.net/v2/jpg/00/23/64/98/1000_F_23649850_52gsUKOCRNJHQA8EM1ZLwOwP1g1wyphu.jpg);
} */

/* final parallax */

/* linguagens */

.containerImg{
    position: relative;
    width: 95%;
    height: 25em;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    margin: 2em;
    position: relative;
    width: 70%;
    height: 70%;
    background: rgba(102, 253, 241, 0.5);
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    transition: 0.5s;
    animation: Animacard 4s linear infinite;
    background: linear-gradient(315deg, #0051ff,#A60505);
}

.box:hover::before{
    inset: -20px 0px;
}

@keyframes Animacard{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box::after{
    content: "";
    position: absolute;
    inset: 6px;
    background: var(--cor-azul-background);
    border-radius: 50%;
    z-index: 1;
}

.content2{
    position: absolute;
    inset: 30px;
    background: var(--cor-azul-background);
    border: 6px solid var(--cor-azul-primaria);
    background-size: cover;
    z-index: 3;
    border-radius: 50%;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.content2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 3;
    pointer-events: none;

}

.box:hover .content2 img{
    opacity: 0;
}

h2{
    position: relative;
    z-index: 2;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight:500 ;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    text-transform: uppercase;
}

h2 span{
    font-weight: 300;
    font-size: 0.75em;
    color: var(--cor-azul-secundaria);
    text-shadow: 0px 0px 1px white;
}

.content2 a{
    position: relative;
    background-color: var(--cor-azul-primaria);
    color: #CEEFF2;
    padding: 10px 20px;
    border-radius: 20%;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    letter-spacing: 0.2em;
}

/* final linguagens */

.projetos{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.projetos h1{
   color: rgb(255, 255, 255);
   font-size: 2em;
   text-shadow: 1px 4px 2px rgb(0, 0, 0);
   letter-spacing: 5px;
   background-color:var(--cor-azul-primaria);
   padding: 1.4em;
   border-radius: 20% 2%;
   box-shadow: 2px 4px 2px black;
}

/* card turotial */
.container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
    padding: 8px;
    width: 300px;
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.container .card img{
    transition: 0.5s;
    align-items: center;
    width: 17em;
    height: 14em;
    border-radius: 20px;
}

.container .card:hover img{
    align-items: center;
    width: 17em;
    height: 15em;
}

.container .card h3{
    font-size: 1.5em;
    margin: 2px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;

}

.container .card:hover h3{
    font-size: 1.5em;
    margin: 2px;
    color:#ffffff ;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    
}


.container .card .content{
    padding: 10px;
    text-align: center;
}

.container .card .content p{
    transition: 0.5s;
    

}

.container .card .content a{
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-azul-background);
    color: rgb(0, 0, 0);
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover{
    background-color: var(--cor-azul-background);
    margin-top: -30px;
    box-shadow: 2px 20px 25px var(--cor-azul-secundaria);
    border-color: var(--cor-azul-secundaria);
}

.container .card:hover .content p{
    color: white;
}

.container .card:hover .content a{
    color: black;
    background-color: white;
}
/* final card */


/* footer */
footer {
    position: relative;
    widows: 100%;
    background: #3587F2;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
    /* tirar ponto */
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}

footer .social_icon li a:hover {
    transform: translateY(-10px);

}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1em;
}

footer .onda {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;

}

footer .onda#onda1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animaonda 4s linear infinite;
}

footer .onda#onda2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animaonda2 4s linear infinite;
}

footer .onda#onda3 {
    z-index: 999;
    opacity: 0.2;
    bottom: 15px;
    animation: animaonda2 3s linear infinite;
}

footer .onda#onda4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animaonda2 3s linear infinite;
}

@keyframes animaonda {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animaonda2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}


/* final footer */


/* background animado */
/* feito com tutorial background */

.container{
    position: relative;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: radial-gradient(ellipse at top, rgba(255, 255, 255,0.1) 0%, rgba(237, 237, 237, 0.4) 100%);
    margin: 0 4px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    box-shadow: 5px 5px 10px 0px #00a0b9;
    animation: animaf 15s linear infinite;
    animation-duration: calc(125s / var(--i));
        

}

.bubbles span:nth-child(even){
    background: radial-gradient(ellipse at bottom, rgba(255, 255, 255,0.1) 0%, rgba(237, 237, 237, 0.4) 100%);
    box-shadow:0 0 40px #047181,
    0 0 80px #00a0b9,
    0 0 100px #00a0b9;
}

@keyframes animaf {
    0%{
        transform:translateY(100vh) scale(0);
        
    }
    100%{
        transform:translateY(-10vh) scale(1);

    }
}

/* final background animado */


/* background */

/* darmk mode */

.dark-mode{
    background-color:#793b2f ;
}

/*parallax */
.dark-mode h1, h2 {
    font-family: fonte;
    font-weight: 900;/* negrito tensidade */
    color: #ff0000;
    text-shadow: 2px 3px 5px #000000;
}

.dark-mode .modulo p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.3em;
}

.dark-mode .modulo.content{
    padding: 40px 0;
    background: linear-gradient(0deg, #793b2f 21%, #775350 40%, #260202 86%);
}

.dark-mode .modulo.parallax h1{
    color:#f59595 ;
    text-shadow: 2px 2px 2px #993f3f;
}

.dark-mode .modulo.parallax:after{
    background: linear-gradient(0deg, #260202 24%, #91d7f24f 77%);
}

.dark-mode .modulo.parallax-1{
    background-image: url(https://i.pinimg.com/originals/2e/78/c7/2e78c79cebbd4632cd41546a3138013e.gif);
}

.dark-mode .modulo.parallax-3{
    background-image: url(https://img.freepik.com/fotos-gratis/montanha-de-fogo_460848-6874.jpg);
}

/* final parallax */

/* linguagens */
.dark-mode .content2{
    background: var(--cor-background);
    border: 6px solid var(--cor-primaria);
}

h2{
    color: rgb(255, 255, 255);
}

.dark-mode  span{
    color: var(--cor-secundaria);
    text-shadow: 0px 0px 1px white;
}

.dark-mode .content2 a{
    background-color: var(--cor-primaria);
    color: #CEEFF2;
}

.dark-mode .box{
    background: rgba(253, 102, 102, 0.5);
}

.dark-mode .box::after{
    background: var(--cor-background);
}
/* final linguagens */

/* card turotial */
.dark-mode .container .card{
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
}

.dark-mode .container .card h3{
    color: rgba(255, 255, 255, 0.808);
}

.dark-mode .container .card:hover h3{
    color:var(--cor-primaria) ;
    text-shadow: 1px 1px 2px rgb(124, 123, 123);
}

.dark-mode .container .card .content p{
    color: rgb(255, 255, 255);
}

.dark-mode .container .card .content a{
    background-color: #521c1c;
    color: white;
}

.dark-mode .container .card:hover{
    background-color: var(--cor-background);
    box-shadow: 2px 20px 25px var(--cor-secundaria);
    border-color: var(--cor-primaria);
}

.dark-mode .container .card:hover .content p{
    color: rgb(0, 0, 0);
    /* font-weight: 500; */
/*     text-shadow: 1px 2px 2px rgb(255, 255, 255); */
}

.dark-mode .container .card:hover .content a{
    color: rgba(255, 255, 255, 0.63);
    background-color: #521c1c;
}

/* final card */

.dark-mode .projetos h1{
   color: rgb(255, 255, 255);
   background-color:var(--cor-secundaria);
   box-shadow: 2px 4px 2px black;
}

/* botao dark mode feito com ajuda */
section{
    top: 0;
    left: 1;
}

.darkmode label{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center ;
    align-items: center;
}


.darkmode input{
    position: absolute;
    opacity: 0;
}

#light{
    position: absolute;
    font-size: 2em;
    color: #393939;
    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
    transform: scale(0);
    transition: 1s ease;
}

.darkmode input:checked~#light{
    transition-delay: .8s ;
    transform: scale(1) rotate(360deg);
}

#dark{
    font-size: 1.5em;
    color: #b0b0b0;
    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
    transition: 1s ease;
}

.darkmode input:checked~#dark{
    transition-delay: 0s ;
    transform: rotate(360deg) scale(0);
}

.toggle{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: #00000082;
    border-radius: 50%;
    box-shadow: 
    inset 0 8px 60px rgba(0, 0 ,0, .1),
    inset 0 8px 8px rgba(0, 0 ,0, .1),
    inset 0 -4px 4px rgba(0, 0 ,0, .1);
    z-index: -1;
    transition: 1s;
}

.darkmode input:checked~.toggle{
    background: #ffffffbc;
}
  /* final botao */
/*final  dark mode */

/* responsividade */

@media screen and (max-width: 1000px) {

    
/* cabeçalho */
header {
    flex-direction:column;
    padding: 2em;

}

.logo img {
    height:3em;
    width:3em;
}

.navigation a {
    padding: 6px 20px;
    margin: 0 10px;
}

/* FINAL cabeçalho */

/* linguagens */

.containerImg{
    width: 100%;
    height: 25em;
    display: inline-block;
}

/* final linguagens */

.projetos{
    margin: 2em;
    margin-top: 60em;
     
 }


/* final responsividade */

}